// Custom Categories Background

body.category-youtuber,
body.category-vaperina-live,
body.category-jobban-vagyok,
body.category-utazo-vape {
  background-position: center center;
  background-size: auto;
}

body.category-youtuber {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/youtuber/youtube-bg.png), var(--vaperina-bg);
}

body.category-vaperina-live {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/vaperina-live/vaperina-live-bg.png), var(--vaperina-bg);
}

body.category-jobban-vagyok {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/jobban-vagyok/jobban-vagyok-bg.png), var(--vaperina-bg);
}

body.category-utazo-vape {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/utazo-vape/utazo-vapek-bg.png), var(--vaperina-bg);
}

// Custom Create Topic Button

.category-youtuber {
  #create-topic {
    background: #FF0000;
    &:hover {
      background: #CE0000;
    }
  }
}

.category-jobban-vagyok {
  #create-topic {
    background: #BF1E2E;
    &:hover {
      background: #9C1422;
    }
  }
}

.category-utazo-vape {
  #create-topic {
    background: #1f7fdd;
    &:hover {
      background: #1a74d5;
    }
  }
}
