// Custom Categories Background

body.category-youtuber {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/youtuber/youtube-bg.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-size: cover;
}
body.category-vaperina-live {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/vaperina-live/vaperina-live-bg.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-size: cover;
}
body.category-jobban-vagyok {
  background: url(https://vaperina-assets-02-cdn.b-cdn.net/assets/category/jobban-vagyok/jobban-vagyok-bg.png), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.97) 100%, rgba(var(--primary-rgb), 0.97) 100%),linear-gradient(0deg, #000 0%, #000 100%);
  background-position: center center;
  background-size: cover;
}


// Categories Transparency

.category-youtuber,
.category-vaperina-live,
.category-jobban-vagyok {
  .navigation-container {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .sidebar {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  .main-link {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%), linear-gradient(0deg, rgba(var(--secondary-rgb), 0.8) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
  #main-outlet {
    background-image: linear-gradient(0deg, rgba(var(--secondary-rgb), 0.15) 100%, rgba(var(--secondary-rgb), 0.95) 100%) !important;
  }
}


// Custom Create Topic Button

// Youtuber

.category-youtuber {
  #create-topic {
    background: #FF0000;
    &:hover {
      background: #CE0000;
    }
    .d-icon {
      display: none;
    }
    span {
      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f03d";
        display: inline-block;
        padding-right: 5px;
        font-weight: 900;
      }
    }
  }
}

// Jobban Vagyok

.category-jobban-vagyok {
  #create-topic {
    background: #BF1E2E;
    &:hover {
      background: #9C1422;
    }
    .d-icon {
      display: none;
    }
    span {
      &:before {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        display: inline-block;
        padding-right: 5px;
        font-weight: 900;
      }
    }
  }
}
